@font-face {
  font-family: "Shrikhand";
  src: url(../../assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-bold";
  src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../../fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #101010;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto-Medium;
  font-size: 1rem;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.loader {
  margin: auto;
  opacity: 1;
  width: 155px;
  height: 155px;
  position: relative;
  -webkit-animation: logofader 2s linear 1.5s forwards;
          animation: logofader 2s linear 1.5s forwards;
}

@-webkit-keyframes logofader {
  0% {
    -webkit-transform: opacity(0);
            transform: opacity(0);
  }
  100% {
    -webkit-transform: opacity(100%);
            transform: opacity(100%);
  }
}

@keyframes logofader {
  0% {
    -webkit-transform: opacity(0);
            transform: opacity(0);
  }
  100% {
    -webkit-transform: opacity(100%);
            transform: opacity(100%);
  }
}
.loader div {
  position: absolute;
}

@-webkit-keyframes animcercle {
  0% {
    -webkit-transform: rotate(0) deg;
            transform: rotate(0) deg;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animcercle {
  0% {
    -webkit-transform: rotate(0) deg;
            transform: rotate(0) deg;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.circle1 {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 5px solid #008766;
  border-top-color: transparent;
  border-bottom-color: transparent;
  -webkit-animation: animcercle 2s linear forwards;
          animation: animcercle 2s linear forwards;
}

.circle2 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid #99e2d0;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: animcercle 1s linear reverse forwards;
}

.log__anim {
  width: 104px;
  height: 128px;
  left: 42%;
  opacity: 0;
  top: 70%;
  margin: -47px 0px 0px -52px;
  font-size: 2rem;
  -webkit-animation: logofader 2s linear 1.5s forwards;
          animation: logofader 2s linear 1.5s forwards;
}

.cercle2 {
  left: 50%;
  top: 50%;
  margin: -55px 0px 0px -55px;
}

.circle3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px dotted #008766;
  -webkit-animation: animcercle 2s linear forwards;
          animation: animcercle 2s linear forwards;
}

.circle4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px dotted #99e2d0;
  animation: animcercle 1s linear reverse forwards;
}

.cercle5 {
  width: 90px;
  height: 90px;
  left: 50%;
  top: 50%;
  margin: -45px 0px 0px -45px;
}

#entrees {
  opacity: 0;
  -webkit-animation: menusfader 2s linear forwards;
          animation: menusfader 2s linear forwards;
}

#plats {
  opacity: 0;
  -webkit-animation: menusfader 2s linear 1s forwards;
          animation: menusfader 2s linear 1s forwards;
}

#desserts {
  opacity: 0;
  -webkit-animation: menusfader 2s linear 1.5s forwards;
          animation: menusfader 2s linear 1.5s forwards;
}

@-webkit-keyframes menusfader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menusfader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  cursor: pointer;
  border: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  font-family: Roboto-Medium;
  color: white;
  width: 70%;
  height: 50px;
  border-radius: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 4px 10px rgba(59, 59, 59, 0.25);
          box-shadow: 0px 4px 10px rgba(59, 59, 59, 0.25);
  -webkit-transition: all 453ms linear;
  transition: all 453ms linear;
}
button:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.restaurants-section .restaurants-section__cards-container__cards .restaurants-section__cards-container__cards__encart, .choose-section a, header .header__pages, header .header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
header .header__logo img {
  width: 50%;
}
header .header__loc {
  background: #ebebea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
header .header__loc i {
  padding-right: 10px;
}
header .header__pages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 150px;
}
header .header__pages i {
  padding-left: 10px;
}

.search-section {
  background: #f6f6f6;
  padding: 40px;
}
.search-section h1 {
  padding-bottom: 15px;
  font-family: Roboto-Bold;
  font-size: 1.5rem;
}
.search-section p {
  font-family: Roboto-light;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.choose-section {
  margin-bottom: 60px;
}
.choose-section h2 {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  text-align: left;
  padding: 30px 20px;
}
.choose-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.choose-section .choose-section__restos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #f6f6f6;
  width: 90%;
  height: 72.38px;
  border-radius: 20px;
  margin: 0 10px;
  padding-left: 50px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-family: Roboto-Medium;
}
.choose-section .choose-section__restos p {
  margin-left: 50px;
}
.choose-section .fa-solid.fa-list-ul, .choose-section .fa-solid.fa-mobile-screen-button {
  color: #343435;
  position: relative;
}
.choose-section .fa-solid.fa-store {
  position: relative;
  color: #9356dc;
}
.choose-section .choose-section__restos__ellipse {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: -10px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 24px;
  height: 24px;
  font-size: 1rem;
  background: #9356dc;
  color: white;
  border-radius: 100%;
}

.restaurants-section {
  background: #f6f6f6;
  padding-bottom: 60px;
}
.restaurants-section h3 {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  text-align: left;
  padding: 30px 20px;
}
.restaurants-section .restaurants-section__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  position: relative;
}
.restaurants-section .restaurants-section__cards-container img {
  border-radius: 30px 30px 0 0;
  padding: 20px 10px 0;
  width: 100%;
  height: 251px;
}
.restaurants-section .card-content {
  text-align: left;
  margin: 0 10px;
  padding: 10px;
  line-height: 25px;
  background: white;
  border-radius: 0 0 20px 20px;
}
.restaurants-section .restaurants-section__cards-container__cards {
  position: relative;
}
.restaurants-section .restaurants-section__cards-container__cards .restaurants-section__cards-container__cards__encart {
  position: absolute;
  position: absolute;
  top: 10%;
  right: 5%;
  bottom: 0;
  left: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  height: 29px;
  width: 80px;
  font-family: Roboto-Medium;
  font-size: 0.875rem;
  background: #99e2d0;
}
.restaurants-section .restaurants-section__cards-container__cards .restaurants-section__cards-container__cards__encart.restaurants-section__cards-container__cards__encart p {
  color: #008766;
}
.restaurants-section h4 {
  padding-left: 30px;
  font-family: Roboto-Bold;
  font-size: 1.125rem;
}
.restaurants-section .restaurants-section__cards-container__cards__content__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.restaurants-section .restaurants-section__cards-container__cards__content__title p {
  padding-left: 30px;
  font-family: Roboto-light;
  font-size: 1.063rem;
}
.restaurants-section .fa-regular {
  position: absolute;
  top: 25%;
  right: 0%;
  bottom: 0%;
  left: 80%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: absolute;
  font-size: 1.5rem;
}
.restaurants-section .fa-solid {
  position: absolute;
  top: 25%;
  right: 0%;
  bottom: 0%;
  left: 80%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  font-size: 1.5rem;
  position: absolute;
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}
.restaurants-section .fa-solid:hover {
  opacity: 1;
}

.main-container img {
  width: 100%;
  height: 275px;
}
.main-container .menus-container {
  background: #ebebea;
  border-radius: 40px 40px 0px 0px;
  margin-top: 63px;
}
.main-container .main-container__img {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: -1;
}
.main-container .menus-container__name {
  position: relative;
  padding: 25px 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-container .menus-container__name .fa-regular {
  position: absolute;
  top: 50%;
  right: 0%;
  bottom: 0%;
  left: 80%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  font-size: 1.5rem;
}
.main-container .menus-container__name .fa-solid {
  position: absolute;
  top: 50%;
  right: 0%;
  bottom: 0%;
  left: 80%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  font-size: 1.5rem;
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}
.main-container .menus-container__name .fa-solid:hover {
  opacity: 1;
}
.main-container .menus-container__name h1 {
  font-family: Shrikhand;
  font-weight: 200;
  font-size: 1.75rem;
  margin-right: 20px;
}
.main-container .menus-container__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.main-container .menus-container__title h2 {
  padding: 25px 10px 0 10px;
  text-align: left;
  font-family: Roboto-light;
  font-size: 1rem;
  text-transform: uppercase;
}
.main-container .menus-container__title__style {
  border-top: 3px solid #99e2d0;
  width: 35px;
  margin-left: 10px;
}
.main-container .menus-container__cards_title {
  line-height: 25px;
  text-align: left;
  padding: 0 10px;
  overflow: hidden;
  width: 70%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.main-container .menus-container__cards_title h3 {
  font-size: 1.125rem;
}
.main-container .menus-container__cards_title__text {
  white-space: nowrap;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.main-container .menus-container__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background: white;
  height: 69px;
  border-radius: 15.0431px;
  margin: 10px;
  gap: 5px;
  -webkit-box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
}
.main-container .menus-container__cards .menus-container__cards_content__price__anim {
  background: #99e2d0;
  width: 100%;
}
.main-container .menus-container__cards:hover .menus-container__cards_content__price {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.main-container .menus-container__cards:hover .menus-container__cards_title__text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-container .menus-container__cards .menus-container__cards_content {
  height: 100%;
}
.main-container .menus-container__cards .menus-container__cards_content p {
  font-family: Roboto-Bold;
  font-size: 0.94rem;
}
.main-container .menus-container__cards .menus-container__cards_content__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
  height: 100%;
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.main-container .menus-container__cards .menus-container__cards_content__price .fa-circle-check {
  color: white;
}
.main-container .menus-container__cards .menus-container__cards_content__price span {
  margin-left: 30px;
  border-radius: 0 15px 15px 0;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #343435;
  color: white;
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  padding: 30px;
}
footer .partnership ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding-bottom: 50px;
}
footer .partnership ul li i {
  padding-right: 10px;
}/*# sourceMappingURL=index.css.map */