.restaurants-section {
  background: $grey2;
  padding-bottom: 60px;

  h4 {
    font-family: $font5;
    font-size: 1.5rem;
    text-align: left;
    padding: 30px 20px;
  }

  #palette-du-gout img,
  #note-enchantee img,
  #la-francaise img,
  #delices-sens img {
    border-radius: 30px 30px 0 0;
    padding: 20px 10px 0;
    width: 100%;
    height: 251px;
  }

  .card-content {
    text-align: left;
    margin: 0 10px;
    padding: 10px;
    line-height: 25px;
    background: white;
    border-radius: 0 0 20px 20px;

    .card-title p {
    }

    .card-title {
      position: relative;
      display: grid;
      grid-template-columns: 90% 10%fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "ttl lab"
        "stl inp";
      font-family: $font5;
      font-size: 1.125rem;
    }
    .card-title h3 {
      grid-area: ttl;
    }
    .card-title input {
      grid-area: inp;
    }
    .subtitle {
      font-family: $font3;
      font-size: 1.063rem;
      grid-area: stl;
    }
    .card-title label {
      cursor: pointer;
      position: absolute;
      font-size: 2rem;
      top: 10px;
      right: 30px;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + label i {
      color: $purple;
      font-weight: 900;
    }
  }
}
