.choose-section {
  margin-bottom: 60px;
  position: relative;



  h2 {

    padding-bottom: 0;
    font-family: $font5;
    font-size: 1.5rem;
    text-align: left;
    padding: 30px 20px 0;

    @media screen and (min-width: 1224px) {
      max-width: 1040px;

      .choose-section__restos {
        position: relative;
      }
    }


  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 40px;



    @media screen and (min-width: 1224px) {
      display: grid;
      grid-template-columns: 25% 25% 25%;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      gap: 20px;
      grid-template-areas:
        "ttl ttl ttl"
        "cho com deg";

      h2 {
        grid-area: ttl;
      }

      justify-content: center;
    }
  }

  a {
    @extend %all-center;
  }

  .choose-section__restos {
    align-items: center;
    display: flex;
    position: relative;
    background: $grey2;
    width: 90%;
    height: 72.38px;
    border-radius: 20px;
    margin: 0 10px;
    padding-left: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    font-family: $font4;

    @media screen and (min-width: 1224px) {
      width: 335px;
    }

  }

  .choose-section__restos p {
    margin-left: 20px;
  }

  .fa-solid {

    &.fa-list-ul,
    &.fa-mobile-screen-button {
      color: $grey3;
      position: relative;
    }

    &.fa-store {
      position: relative;
      color: $purple;
    }
  }

  .choose-section__restos__ellipse {
    @include absolute-el(20px, 0, 0, -10px, 0, 0);
    width: 24px;
    height: 24px;
    font-size: 1rem;
    background: $purple;
    color: white;
    border-radius: 100%;
  }
}