.main-container__loader {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;

    //=========Fader page index=============
    animation: fadeOut 1s linear 1s forwards;

    &::before {
        content: "";
        position: fixed;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $gradient1;
        animation: globalAnim 3s ease-in-out forwards;
        animation-delay: 0.9s;

        @keyframes globalAnim {

            100% {
                opacity: 0;
                z-index: -1;
            }
        }
    }

    //============Anim Cercles=======================
    .loader {
        margin: auto;
        width: 135px;
        height: 135px;
        position: relative;
        animation: logofader 2s linear 1.5s;
    }

    .loader div {
        position: absolute;
    }

    @keyframes animcercle {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .circle1 {
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background: $gradient1;
        opacity: 0.5;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: animcercle 2s linear;
    }

    .circle2 {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        opacity: 0.5;
        border: 5px solid #99e2d0;
        border-right-color: transparent;
        border-left-color: transparent;
        animation: animcercle 1s linear reverse;
    }

    .circle1__log__anim {
        // z-index: 5;
        color: #9356dc;
        width: 104px;
        height: 128px;
        left: 48%;
        opacity: 1;
        top: 70%;
        margin: -47px 0px 0px -56px;
        font-size: 2rem;
    }

    .circle1__log__anim p {
        font-family: $font1;
        font-size: 1.5rem;
        opacity: 0;
        animation: zoom ease-in-out 2.3s;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }

    @keyframes zoom {
        0% {
            transform: scale(0);
            opacity: 0.5;
        }

        50% {
            transform: scale(0.5);
            opacity: 0.75;
        }

        100% {
            transform: scale(0);
        }
    }

    .cercle2 {
        left: 50%;
        top: 50%;
        margin: -55px 0px 0px -55px;
    }

    .circle3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 5px dotted #008766;
        opacity: 0.5;
        animation: animcercle 2s linear;
    }

    .circle4 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px dotted #99e2d0;
        animation: animcercle 1s linear reverse;
    }

    .cercle5 {
        width: 90px;
        height: 90px;
        left: 50%;
        top: 50%;
        margin: -45px 0px 0px -45px;
    }
}