.main-container {
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    z-index: 1;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .menus-container {
    position: relative;
    background: $grey2;
    border-radius: 40px 40px 0px 0px;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1055px;
  }

  .main-container__img {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: -1;

    img {
      width: 100%;
      max-width: 1440px;
      height: 375px;

      @media screen and (min-width: 1200px) {
        height: 383px;
      }
    }
  }

  // Titre de la Fiche
  .menus-container__name {
    position: relative;

    @media screen and (min-width: 1200px) {
      justify-content: center;
    }

    h1 {
      font-family: $font1;
      font-weight: 200;
      font-size: 1.75rem;
      margin-right: 20px;

      @media screen and (min-width: 1200px) {
        padding-bottom: 190px;
      }
    }

    padding: 25px 10px 0;
    align-items: center;
    display: flex;

    // position des coeurs
    .menus-container__name__heart {
      display: flex;
    }

    .fa-regular,
    .fa-solid {
      font-size: 1.5rem;
      @include absolute-el(33px, 10px, auto, auto, auto, auto);

      @media screen and (min-width: 1200px) {
        @include absolute-el(33px, auto, auto, auto, auto, auto);
      }
    }
  }

  .fa-solid {
    font-size: 1.5rem;

    opacity: 0;
    color: transparent;
    background-clip: text;

    transition: 0.8s ease-in-out;
    background-image: $gradient2;

    &:hover {
      opacity: 1;
    }
  }

  .menus-container__name__logo {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 97px;
    background: $white;
    box-shadow: 0px 4px 10px rgba(59, 59, 59, 0.25);
    display: none;
    z-index: 1;


    @media screen and (min-width: 1200px) {
      position: absolute;
      top: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    img {
      width: 15%;
    }

    .fas {

      font-size: 1rem;
      @include absolute-el(auto, auto, auto, 10px, auto, auto);
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }



  .menus-container__title {
    flex-direction: column;
    display: flex;
    gap: 5px;
  }

  .menus-container__title h2 {
    padding: 25px 10px 0 10px;
    text-align: left;
    font-family: $font3;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      background: $green1;
      height: 3px;
      width: 35px;
    }
  }

  .menus-container__cards_title {
    line-height: 25px;
    text-align: left;
    padding: 0 10px;
    overflow: hidden;
    width: 70%;
    transition: all ease-in-out 0.4s;

    h3 {
      font-size: 1.125rem;
    }
  }

  .menus-container__cards_title__text {
    white-space: nowrap;
    transition: all ease-in-out 0.4s;
  }

  .menus-container__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: white;
    height: 69px;
    border-radius: 15.0431px;
    margin: 10px;
    gap: 5px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);





    &:hover {
      .menus-container__cards_content__price {
        transform: translateX(0);
      }

      .menus-container__cards_title__text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .menus-container__cards_content {
      height: 100%;

      p {

        font-family: $font5;
        font-size: 0.94rem;

      }
    }

    .menus-container__cards_content__price {
      display: flex;
      align-items: baseline;
      width: 90px;
      height: 100%;
      transform: translateX(65px);
      transition: all 0.8s;


      .menus-container__cards_content__price__anim {

        background: $green1;
        width: 100%;

      }

      .fa-circle-check {
        opacity: 1;
        color: white;
      }

      span {
        border-radius: 0 15px 15px 0;

        padding: 0 15px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}