.search-section {
  background: $grey2;

  padding: 40px;

  h1 {
    padding-bottom: 15px;
    font-family: $font5;
    font-size: 1.5rem;
  }
  p {
    font-family: $font3;
    font-size: 1.1rem;
    padding-bottom: 10px;
  }
}
